Name: Axon
Package: me.nepeta.axon
Version: 0.2.4
Section: Tweaks
Maintainer: xRepo <support@xRepo.co>
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0)
Conflicts: io.ominousness.stackxi, com.thomasfinch.priorityhub, com.ioscreatix.intelixbeta, com.ioscreatix.intelix, com.spiritoflogic.ncunify, com.spiritoflogic.unifyx, com.hidan.nclink10, org.coolstar.ventana-modern, org.coolstar.ventana, org.s1ris.spinxi
SileoDepiction: http://repo.beinapple.co/sileo.php?pid=66
Architecture: iphoneos-arm
Installed-Size: 572
Author: Nepeta & Baw Appie
Sponsor: xRepo.co <http://xRepo.co>
